@use '../base/typography';
@use '../utils/variables' as *;

.fichelogement {
    margin: 40px 100px 15px 100px;
    width: auto;
    flex: 1 0 auto;
    &__infos {
        display: flex;
        height: fit-content;
        justify-content: space-between;
        @media (max-width: 992px) {
            margin-bottom: 25px;
            @media (max-width: 767px) {
                flex-direction: column;
                margin-bottom: 5px;
            }
        }
    }
    .titletags {
        color: $brand-primary;
        display: flex;
        height: fit-content;
        flex-direction: column;
        justify-content: space-around;
        h1 {
            font-size: xx-large; //32px plutôt que 36px
            font-weight: 500;
            margin-bottom: 0;
            @media (max-width: 992px) {
                font-size: 18px;
            }
        }
        h2 {
            font-size: medium; //16px plutôt que 18px
            font-weight: 500;
            margin-top: 5px;
            margin-bottom: 10px;
            @media (max-width: 992px) {
                font-size: 14px;
            }
        }
    }
    .hostrating {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: auto;
        @media (max-width: 992px) {
            @media (max-width: 767px) {
                flex-direction: row-reverse;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
    &__description {
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: fit-content;
        @media (max-width: 767px) {
            flex-direction: column;
        }
        .collapse {
            width: 47%;
            @media (max-width: 992px) {
                width: 45%;
                @media (max-width: 767px) {
                    width: 100%;
                }
            }
            &__button {
                width: 100%;
                h2 {
                    font-size: medium; //16px plutôt que 18px
                    @media (max-width: 992px) {
                        font-size: 13px;
                    }
                }
            }
            &__description {
                height: -webkit-fill-available;
                width: 100%;
                box-sizing: border-box;
                font-size: medium; //16px plutôt que 18px
                @media (max-width: 992px) {
                    font-size: 12px;
                }
            }
        }
        .equipment_list {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            padding-left: 0;
            margin-top: 0;
        }
    }
    @media (max-width: 992px) {
        margin: 0;
        width: 90%;
    }
}
