@use '../base/typography';
@use '../utils/variables' as *;

.home {
    display: inherit;
    flex-direction: inherit;
    box-sizing: inherit;
    align-items: inherit;
    flex: 1 0 auto;
    .card__list {
        background: $component-background;
        border-radius: 25px;
        margin: 40px 100px 15px 100px;
        padding: 40px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .card__container {
            width: 280px; //340px
            height: 280px; //340px
            margin-bottom: 40px;
            @media (max-width: 992px) {
                height: 255px;
                width: 40%;
                margin-bottom: 20px;
                @media (max-width: 767px) {
                    width: 100%;
                }
            }
        }
        @media (max-width: 992px) {
            padding: 20px 0 20px 0;
            width: 90%;
            @media (max-width: 767px) {
                margin: 0;
                background: white;
            }
        }
    }
}
