@font-face {
    font-family: 'Montserrat';
    font-style: medium;
    font-weight: 500;
    src: url(../../assets/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 700;
    src: url(../../assets/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat';
    font-style: light;
    font-weight: 400;
    src: url(../../assets/Montserrat-Light.ttf);
}
