@use '../base/typography';
@use '../utils/variables' as *;

.rating {
    img {
        height: 20px;
        margin-left: 10px;
        @media (max-width: 992px) {
            height: 12px;
            @media (max-width: 767px) {
                margin-left: 0;
                margin-right: 5px;
            }
        }
    }
}
