@use '../base/typography';
@use '../utils/variables' as *;

.tags {
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: none;
    background: $brand-primary;
    padding: 5px 25px 5px 25px;
    color: $brand-secondary;
    list-style-type: none;
    margin-right: 10px;
    &__list {
        display: flex;
        padding-left: 0px;
        font-size: small; //13px plutôt que 14px
        @media (max-width: 992px) {
            font-size: 10px;
            margin: 0;
        }
    }
}
