@font-face {
  font-family: "Montserrat";
  font-style: medium;
  font-weight: 500;
  src: url(../../assets/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-style: bold;
  font-weight: 700;
  src: url(../../assets/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-style: light;
  font-weight: 400;
  src: url(../../assets/Montserrat-Light.ttf);
}
/** Brand colors**/
header {
  box-sizing: border-box;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 100px 15px 100px;
  font-size: large;
  color: #ff6060;
}
header img {
  height: 50px;
}
header nav {
  display: flex;
  width: 20%;
  justify-content: space-between;
  align-items: flex-end;
  text-align: right;
}
header nav a {
  text-decoration: none;
  padding-bottom: 15px;
  color: #ff6060;
}
header nav a:hover {
  text-decoration: underline;
}
header nav a:visited {
  text-decoration: none;
}
@media (max-width: 992px) {
  header {
    width: 90%;
    margin: 20px 0 20px 0;
  }
  header nav {
    width: auto;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
  }
  header nav a {
    padding-bottom: 0px;
    margin-left: 15px;
  }
}

.banner {
  box-sizing: border-box;
  width: auto;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 100px 15px 100px;
  color: #ffffff;
  border-radius: 25px;
  text-align: center;
}
@media (max-width: 992px) {
  .banner {
    margin: 0;
    width: 90%;
    font-size: x-large;
    height: 111px;
    background-position: bottom;
    border-radius: 10px;
  }
}
@media (max-width: 992px) and (max-width: 767px) {
  .banner {
    justify-content: flex-start;
    text-align: left;
  }
}
.banner--home {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../assets/banner_home.png");
  background-size: cover;
}
.banner--apropos {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../assets/banner_apropos.png");
  background-size: cover;
}
@media (max-width: 992px) {
  .banner--apropos {
    width: 100%;
    margin-bottom: 20px;
    height: 223px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../assets/banner_apropos_mobile.png");
    background-size: cover;
  }
}
.banner h1 {
  font-size: xxx-large;
  font-weight: 500;
}
@media (max-width: 992px) {
  .banner h1 {
    font-size: x-large;
    width: 65%;
    margin: 20px;
  }
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  background-size: cover;
  overflow: hidden;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.card h2 {
  position: absolute;
  z-index: 1;
  font-weight: 500;
  font-size: medium;
  color: #ffffff;
  line-height: 142.6%;
  padding-left: 20px;
  width: 50%;
}

.collapse {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  padding: 0;
}
.collapse__button {
  z-index: 1;
  background-color: #ff6060;
  color: #ffffff;
  font-family: "Montserrat";
  border-radius: 5px;
  border: none;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.collapse__button h2 {
  font-size: large;
  font-weight: 500;
}
@media (max-width: 992px) {
  .collapse__button h2 {
    font-size: 13px;
  }
}
.collapse__button img {
  height: 10px;
}
.collapse__description {
  z-index: 0;
  background-color: #f6f6f6;
  color: #ff6060;
  font-size: large;
  line-height: 142.6%;
  font-weight: 400;
  margin-top: -5px;
  padding: 20px 10px 10px 10px;
  width: auto;
  border-radius: 5px;
  border: none;
}
@media (max-width: 992px) {
  .collapse__description {
    font-size: 12px;
  }
}

.slideshow {
  width: 100%;
  height: 400px;
  border-radius: 25px;
  border: none;
  overflow: hidden;
  position: relative;
}
.slideshow__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slideshow .arrow {
  position: absolute;
  border: none;
  background: none;
  height: 50px;
  object-fit: cover;
  top: 45%;
  cursor: pointer;
}
@media (max-width: 992px) {
  .slideshow .arrow {
    height: 20px;
  }
}
.slideshow .arrow img {
  height: inherit;
}
.slideshow .arrow--left {
  left: 0;
}
.slideshow .arrow--right {
  right: 0;
}
.slideshow .counter {
  position: absolute;
  left: 50%;
  margin-left: -10px;
  bottom: 5%;
  color: #ffffff;
}
@media (max-width: 767px) {
  .slideshow .counter {
    display: none;
  }
}
@media (max-width: 992px) {
  .slideshow {
    height: 300px;
  }
}
@media (max-width: 992px) and (max-width: 767px) {
  .slideshow {
    height: 255px;
  }
}

.host {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  align-items: center;
}
@media (max-width: 992px) {
  .host {
    margin: 0;
  }
}
.host h3 {
  display: flex;
  justify-content: flex-end;
  font-size: medium;
  font-weight: 500;
  width: 60px;
  text-align: right;
  margin: 10px;
  color: #ff6060;
}
@media (max-width: 992px) {
  .host h3 {
    font-size: 12px;
  }
}
.host img {
  height: 64px;
  width: auto;
  border-radius: 40px;
}
@media (max-width: 992px) {
  .host img {
    height: 32px;
  }
}

.rating img {
  height: 20px;
  margin-left: 10px;
}
@media (max-width: 992px) {
  .rating img {
    height: 12px;
  }
}
@media (max-width: 992px) and (max-width: 767px) {
  .rating img {
    margin-left: 0;
    margin-right: 5px;
  }
}

.tags {
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  border: none;
  background: #ff6060;
  padding: 5px 25px 5px 25px;
  color: #ffffff;
  list-style-type: none;
  margin-right: 10px;
}
.tags__list {
  display: flex;
  padding-left: 0px;
  font-size: small;
}
@media (max-width: 992px) {
  .tags__list {
    font-size: 10px;
    margin: 0;
  }
}

footer {
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px;
  font-size: large;
  color: #ffffff;
  background-color: #000000;
  padding-bottom: 15px;
}
@media (max-width: 767px) {
  footer {
    font-size: 12px;
  }
}
footer img {
  height: 39px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  footer img {
    margin-bottom: 0;
  }
}

.home {
  display: inherit;
  flex-direction: inherit;
  box-sizing: inherit;
  align-items: inherit;
  flex: 1 0 auto;
}
.home .card__list {
  background: #f6f6f6;
  border-radius: 25px;
  margin: 40px 100px 15px 100px;
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.home .card__list .card__container {
  width: 280px;
  height: 280px;
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .home .card__list .card__container {
    height: 255px;
    width: 40%;
    margin-bottom: 20px;
  }
}
@media (max-width: 992px) and (max-width: 767px) {
  .home .card__list .card__container {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .home .card__list {
    padding: 20px 0 20px 0;
    width: 90%;
  }
}
@media (max-width: 992px) and (max-width: 767px) {
  .home .card__list {
    margin: 0;
    background: white;
  }
}

.apropos {
  flex: 1 0 auto;
}
@media (max-width: 992px) {
  .apropos {
    width: 90%;
  }
}
.apropos .collapse__list {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-left: 0;
  margin: auto;
}
@media (max-width: 992px) {
  .apropos .collapse__list {
    margin: 0;
    width: 100%;
  }
}
.apropos .collapse__list__container {
  width: 100%;
}

.notfound {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
  color: #ff6060;
}
@media (max-width: 992px) {
  .notfound {
    margin-bottom: 100px;
  }
}
.notfound h1 {
  font-weight: bold;
  font-size: 288px;
  margin-top: 40px;
  margin-bottom: 0px;
}
@media (max-width: 992px) {
  .notfound h1 {
    font-size: 96px;
    margin-top: 150px;
  }
}
.notfound h2 {
  margin-top: 0px;
  margin-bottom: 150px;
  font-weight: 500;
  font-size: xx-large;
}
@media (max-width: 992px) {
  .notfound h2 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 100px;
  }
}
.notfound a {
  font-size: large;
  color: #ff6060;
  text-decoration: underline;
}
@media (max-width: 992px) {
  .notfound a {
    font-size: 14px;
  }
}

.fichelogement {
  margin: 40px 100px 15px 100px;
  width: auto;
  flex: 1 0 auto;
}
.fichelogement__infos {
  display: flex;
  height: fit-content;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .fichelogement__infos {
    margin-bottom: 25px;
  }
}
@media (max-width: 992px) and (max-width: 767px) {
  .fichelogement__infos {
    flex-direction: column;
    margin-bottom: 5px;
  }
}
.fichelogement .titletags {
  color: #ff6060;
  display: flex;
  height: fit-content;
  flex-direction: column;
  justify-content: space-around;
}
.fichelogement .titletags h1 {
  font-size: xx-large;
  font-weight: 500;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .fichelogement .titletags h1 {
    font-size: 18px;
  }
}
.fichelogement .titletags h2 {
  font-size: medium;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 10px;
}
@media (max-width: 992px) {
  .fichelogement .titletags h2 {
    font-size: 14px;
  }
}
.fichelogement .hostrating {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: auto;
}
@media (max-width: 992px) and (max-width: 767px) {
  .fichelogement .hostrating {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
}
.fichelogement__description {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: fit-content;
}
@media (max-width: 767px) {
  .fichelogement__description {
    flex-direction: column;
  }
}
.fichelogement__description .collapse {
  width: 47%;
}
@media (max-width: 992px) {
  .fichelogement__description .collapse {
    width: 45%;
  }
}
@media (max-width: 992px) and (max-width: 767px) {
  .fichelogement__description .collapse {
    width: 100%;
  }
}
.fichelogement__description .collapse__button {
  width: 100%;
}
.fichelogement__description .collapse__button h2 {
  font-size: medium;
}
@media (max-width: 992px) {
  .fichelogement__description .collapse__button h2 {
    font-size: 13px;
  }
}
.fichelogement__description .collapse__description {
  height: -webkit-fill-available;
  width: 100%;
  box-sizing: border-box;
  font-size: medium;
}
@media (max-width: 992px) {
  .fichelogement__description .collapse__description {
    font-size: 12px;
  }
}
.fichelogement__description .equipment_list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}
@media (max-width: 992px) {
  .fichelogement {
    margin: 0;
    width: 90%;
  }
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}
body #root {
  display: inherit;
  flex-direction: inherit;
  background-color: inherit;
  width: inherit;
  height: inherit;
  margin: inherit;
  box-sizing: inherit;
  align-items: stretch;
  font-family: inherit;
  font-weight: inherit;
}
@media (max-width: 992px) {
  body #root {
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
